<ejs-formgrid [dataSource]="dataSource" [columns]="columns" (command)="onCommand($event)">
</ejs-formgrid>

<app-modal #modal modalHeader="Cadastro de Usuário">

  <ng-template #bodyTemplate>
    <form [formGroup]="form">
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <ejs-textbox formControlName="id" placeholder="Código">
            </ejs-textbox>
          </div>
        </div>
        <div class="col-md-9">
          <div class="form-group">
            <ejs-textbox formControlName="name" placeholder="Nome" formErrorHandler>
            </ejs-textbox>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <ejs-textbox formControlName="userName" placeholder="Nome Usuário" formErrorHandler>
            </ejs-textbox>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <ejs-dropdownlist formControlName="role"
                              placeholder="Perfil"
                              formErrorHandler
                              [dataSource]="roles"
                              [fields]="{value: 'value', text:'description'}">
            </ejs-dropdownlist>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <ejs-textbox  #password
                          formControlName="password"
                          placeholder="Senha"
                          formErrorHandler
                          type="password"
                          (iconClick)="password.type = password.type === 'password' ? 'text' : 'password'">
            </ejs-textbox>
            <app-passwordstrengthbar [password]="form.controls.password.value"></app-passwordstrengthbar>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10">
          <div class="form-group">
            <ejs-textbox formControlName="email" placeholder="E-mail" formErrorHandler>
            </ejs-textbox>
          </div>
        </div>
        <div class="col-md-2">
          <div class="align-check-box">
          <ejs-checkbox label="Ativo" formControlName="isActive">
          </ejs-checkbox>
          </div>
        </div>
      </div>
    </form>
  </ng-template>

  <ng-template #footerTemplate>
    <button ejs-button buttonSave [disabled]="!this.form.dirty" (click)="onSaveClick()"></button>
    <button ejs-button buttonCancel (click)="onModalClose()"></button>
  </ng-template>
</app-modal>
