<ejs-tab id="element">
  <e-tabitems>
    <e-tabitem>
      <ng-template #headerText>
        <div> Caixa </div>
      </ng-template>
      <ng-template #content>
        <div class="align-content">
        </div>
      </ng-template>
    </e-tabitem>
    <e-tabitem>
      <ng-template #headerText>
        <div> Histórico de Vendas </div>
      </ng-template>
      <ng-template #content>
        <div class="align-content">
          <app-historic-sales-query></app-historic-sales-query>
        </div>
      </ng-template>
    </e-tabitem>
   
  </e-tabitems>
</ejs-tab>
