<div class="row">
  <div class="col-md-6">
    <h1>Padoca's MW</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h3>Informação de contato:</h3>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h6>
      Endereço: 89258-809, Rua Roberto josé junks, 105, Ilha da figueira,
      Jaraguá do Sul, SC
    </h6>
    <h6>email: mateus.walz@gmail.com</h6>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h3>Sobre o Produto:</h3>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h6>
      Produto inspirado em uma sistema de padaria fictícia, possuindo módulos de
      cadastro, consulta, dashboards, estoque, compras e vendas, tendo como seu
      principal objetivo estudos academicos.
    </h6>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h3>Sobre a desenvolvedora do produto:</h3>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h6>
      Utilizando o framework Angular para o desenvolvimento front-end, e
      utilizando para o back-end api em Java com Spring Boot. O desenvolvimento
      do produto possui a utilização de design patterns tanto no front-end
      quanto ao back-end sendo alguns deles, lazy load, repository, MVC,
      modelAndView.
    </h6>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h3>Versão do sistema:</h3>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h6>Versão: 1.0.0</h6>
  </div>
</div>
