<ejs-formgrid [dataSource]="dataSource" [columns]="columns" (command)="onCommand($event)">
</ejs-formgrid>

<app-modal #modal modalHeader="Cadastro de Classificação" dialogClass="lg">

  <ng-template #bodyTemplate>
    <form [formGroup]="form">
      <div class="row">
        <div class="col-md-2">
          <div class="form-group">
            <ejs-textbox formControlName="id" placeholder="Código">
            </ejs-textbox>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <ejs-textbox formControlName="name" placeholder="Nome" formErrorHandler>
            </ejs-textbox>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <ejs-multiselect formControlName="name"
                            placeholder="Produtos"
                            formErrorHandler
                            [allowFiltering]="true"
                            [dataSource]="products"
                            [fields]=" { value: 'id', text:'displayName' }">
            </ejs-multiselect>
          </div>
        </div>
      </div>
    </form>
  </ng-template>

  <ng-template #footerTemplate>
    <button ejs-button buttonSave [disabled]="!this.form.dirty" (click)="onSaveClick()"></button>
    <button ejs-button buttonCancel (click)="onModalClose()"></button>
  </ng-template>
</app-modal>
