<div class="align-button">
  <button ejs-button buttonAdd (click)="onOpen()">
  </button>
</div>

<ejs-grid class="align-grid"
          [height]="450"
          [rowHeight]="40"
          [columns]="template"
          [allowSorting]="true"
          [dataSource]="dataSource">
  <e-columns>
    <e-column headerTextAlign="left" width="50">
      <ng-template #template let-data>
          <button ejs-button class="e-info" iconCss='e-icons e-edit' (click)="onEdit(data)"></button>
          <button ejs-button class="e-danger align" iconCss='e-icons e-cancel' (click)="onRemove(data)"></button>
      </ng-template>
    </e-column>
    <e-column field="id" headerText="Código" headerTextAlign="center" textAlign="center" width="50" isPrimaryKey="true">
    </e-column>
    <e-column field="name" headerText="Fabricante" headerTextAlign="left" textAlign="left" width="100"></e-column>
  </e-columns>
</ejs-grid>

<div *ngIf="isModalOpen">
  <ejs-dialog id='dialog'
              #modal
              header="Cadastro de Fabricante"
              isModal='true' showCloseIcon="true"
              (close)="onModalClose()"
              width="30%"
              [content]="body"
              [footerTemplate]="footer">
  </ejs-dialog>
</div>

<ng-template #body>
  <form [formGroup]="form">
    <div class="row">
      <div class="form-group">
        <ejs-textbox  formControlName="id"
                      placeholder="Código"
                      width="10%">
        </ejs-textbox>
        <ejs-textbox  formControlName="name"
                      placeholder="Nome"
                      width="80%"
                      formErrorHandler
                      class="align-text-box-name">
        </ejs-textbox>
      </div>
    </div>
  </form>
</ng-template>

<ng-template #footer>
  <div class="custon-button">
    <button ejs-button buttonSave [disabled]="!this.form.valid"
      (click)="onSaveClick()"></button>
    <button ejs-button buttonCancel (click)="onModalClose()"></button>
  </div>
</ng-template>
