<div class="row">
  <div class="col-md-6">
    <h2>Licenças e Copyright</h2>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h3>
      <a class="remove-decorate" href="" (click)="onNavigateClick()">
        O que é Copyrigh?
      </a>
    </h3>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h6>
      Copyright&copy; 2022, Padoca'MW. Todos os direitos sobre o produto, seja
      textos, imagens, gráficos, animações e outros materias são protegidos por
      direitos autorais e outros diretiso de propriedade intelectual
      pertencentes a Padoca's MW.
    </h6>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h6>
      Todos os direitos sobre código fonte do produto é estritamente reservado e
      a modificação destes materiais, sua inclusão em outros websites e o seu
      envio e publicação em outros meios digitais e físicos, ou de qualquer
      outra forma dispor de tais materiais sem a devida autorização, estando
      sujeito às responsabilidades e sanções legais.
    </h6>
  </div>
</div>
