<app-modal #modal modalHeader="Consulta de Produtos" dialogClass="lg">
  <ng-template #bodyTemplate>
    <form [formGroup]="form">
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <ejs-textbox
              formControlName="productName"
              placeholder="Nome Produto"
            >
            </ejs-textbox>
          </div>
        </div>
        <div class="col-md-8">
          <div class="form-group">
            <ejs-multiselect
              formControlName="productIds"
              placeholder="Produtos"
              [fields]="{ value: 'id', text: 'name' }"
              [dataSource]="products"
              [allowFiltering]="true"
            >
            </ejs-multiselect>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <ejs-multiselect
              formControlName="manufacturerIds"
              placeholder="Fabricantes"
              [fields]="{ value: 'id', text: 'name' }"
              [dataSource]="manufacturers"
              [allowFiltering]="true"
            >
            </ejs-multiselect>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <ejs-multiselect
              formControlName="unitMeasureIds"
              placeholder="Unidade de Medidas"
              [fields]="{ value: 'id', text: 'name' }"
              [dataSource]="unitMeasures"
              [allowFiltering]="true"
            >
            </ejs-multiselect>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <ejs-multiselect
              formControlName="brandIds"
              placeholder="Marcas"
              [fields]="{ value: 'id', text: 'name' }"
              [dataSource]="brands"
              [allowFiltering]="true"
            >
            </ejs-multiselect>
          </div>
        </div>
      </div>
    </form>
  </ng-template>

  <ng-template #footerTemplate>
    <button ejs-button buttonAddApply (click)="onApplyClick()"></button>
    <button ejs-button buttonReset (click)="reset()"></button>
    <button ejs-button buttonCancel (click)="onModalClose()"></button>
  </ng-template>
</app-modal>
