<ejs-formgrid [dataSource]="dataSource" [columns]="columns" (command)="onCommand($event)">
</ejs-formgrid>

<app-modal #modal modalHeader="Cadastro de Fornecedor" dialogClass="lg">

  <ng-template #bodyTemplate>
    <form [formGroup]="form">
      <div class="row">
        <div class="col-md-2">
          <div class="form-group">
            <ejs-textbox formControlName="id" placeholder="Código">
            </ejs-textbox>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <ejs-textbox formControlName="name" placeholder="Nome" formErrorHandler>
            </ejs-textbox>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-gruop">
            <ejs-maskedtextbox formControlName="cnpj" placeholder="CNPJ" formErrorHandler mask="00.000.000/0000-00">
            </ejs-maskedtextbox>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <ejs-textbox formControlName="comercialName" placeholder="Nome Fantasia" formErrorHandler>
            </ejs-textbox>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <ejs-textbox formControlName="email" placeholder="E-mail" formErrorHandler>
            </ejs-textbox>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <ejs-textbox formControlName="phone" placeholder="Telefone" formErrorHandler>
            </ejs-textbox>
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <ejs-textbox formControlName="zipCodeAddresses" placeholder="CEP" formErrorHandler>
            </ejs-textbox>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <ejs-textbox formControlName="state" placeholder="Estado">
            </ejs-textbox>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <ejs-textbox formControlName="city" placeholder="Cidade">
            </ejs-textbox>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <ejs-textbox formControlName="district" placeholder="Bairro">
            </ejs-textbox>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <ejs-textbox formControlName="street" placeholder="Endereço">
            </ejs-textbox>
          </div>
        </div>
      </div>
    </form>
  </ng-template>

  <ng-template #footerTemplate>
    <button ejs-button buttonSave [disabled]="!this.form.dirty" (click)="onSaveClick()"></button>
    <button ejs-button buttonCancel (click)="onModalClose()"></button>
  </ng-template>
</app-modal>
