<div id="wrapper">
  <div class="col-lg-12 col-sm-12 col-md-12" id="sidebar-section">
    <div class="col-lg-12 col-sm-12 col-md-12">
      <div class="main-header" id="header-section">
        <ul class="header-list">
          <li class="float-left header-style icon-menu" id="hamburger" (click)="openClick()"></li>
          <li class="float-left header-style nav-pane"><b>Padaria - Menu</b></li>
        </ul>
      </div>
      <ejs-sidebar id="sidebar-treeview" class="dock-menu size-sidebar" #sidebarTreeviewInstance
        [enableDock]='enableDock' [dockSize]='dockSize' (created)="onCreated($event)" style="visibility: hidden"
        [mediaQuery]='mediaQuery' [target]='target' (close)="onClose($event)">
        <div class="main-menu">
          <div>
            <ejs-treeview id="main-treeview" #treeviewInstance [fields]='field' expandOn='Click'
              (nodeSelected)="onClick($event)"></ejs-treeview>
          </div>
        </div>
      </ejs-sidebar>
      <div class="main-content" id="main-text">
        <div class="sidebar-content">
          <div *ngIf="departamentsLoad">
            <app-departaments></app-departaments>
          </div>
          <div *ngIf="employeeLoad">
          </div>
          <div *ngIf="productsLoad">
          </div>
          <div *ngIf="manufacturerLoad">
          </div>
          <div *ngIf="jobsLoad">
          </div>
          <div *ngIf="suppliersLoad">
          </div>
          <div class="line"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
