::ng-deep {

  .modal-large {
    max-width: calc(100vw - 45vw);
  }

  .modal-xl {
    max-width: calc(100vw - 45vw);
  }

  .page-content {
    margin-top: 25px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: rgb(95, 92, 92);
    font-family: sans-serif;
  }

}
