<div id="content">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="row">
        <div class="col-sm-12">
          <div class="text-center">
            <h2 class="font-xl">
              <strong
                ><i class="fa fa-fw fa-warning fa-lg text-warning"></i> PÁGINA
                NÃO ENCONTRADA</strong
              >
            </h2>
            <br />
            <p class="lead">
              A página solicitada não pôde ser encontrada, entre em contato com
              o administrador do sistema ou tente novamente em instantes.
            </p>
            <b
              ><a [routerLink]="error404_routes.path"
                >Clique aqui para voltar ao início</a
              ></b
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
