<ejs-formgrid
  [dataSource]="dataSource"
  [columns]="columns"
  (command)="onCommand($event)"
>
</ejs-formgrid>

<app-modal #modal modalHeader="Cadastro de Funcionário" dialogClass="lg">
  <ng-template #bodyTemplate>
    <form [formGroup]="form">
      <div class="row">
        <div class="col-md-2">
          <div class="form-group">
            <ejs-textbox formControlName="id" placeholder="Código">
            </ejs-textbox>
          </div>
        </div>
        <div class="col-md-7">
          <div class="form-group">
            <ejs-textbox
              formControlName="name"
              placeholder="Nome"
              formErrorHandler
            >
            </ejs-textbox>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <ejs-textbox
              formControlName="cpf"
              placeholder="CPF"
              formErrorHandler
            >
            </ejs-textbox>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <ejs-datepicker
              formControlName="birthDate"
              placeholder="Data Nascimento"
              [max]="today"
              formErrorHandler
            >
            </ejs-datepicker>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <ejs-dropdownlist
              formControlName="gender"
              placeholder="Gênero"
              [allowFiltering]="true"
              formErrorHandler
              [fields]="{ value: 'value', text: 'description' }"
              [dataSource]="genders"
            >
            </ejs-dropdownlist>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <ejs-dropdownlist
              formControlName="maritalStatus"
              placeholder="Estado Cívil"
              [allowFiltering]="true"
              formErrorHandler
              [fields]="{ value: 'value', text: 'description' }"
              [dataSource]="martialStatus"
            >
            </ejs-dropdownlist>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <ejs-dropdownlist
              formControlName="levelSchooling"
              placeholder="Grau Escolaridade"
              [allowFiltering]="true"
              formErrorHandler
              [fields]="{ value: 'value', text: 'description' }"
              [dataSource]="levelSchoolings"
            >
            </ejs-dropdownlist>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <ejs-textbox
              formControlName="phone"
              placeholder="Telefone"
              formErrorHandler
            >
            </ejs-textbox>
          </div>
        </div>
        <div class="col-md-8">
          <div class="form-group">
            <ejs-textbox
              formControlName="email"
              placeholder="E-mail"
              formErrorHandler
            >
            </ejs-textbox>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <ejs-textbox
              formControlName="zipCodeAddresses"
              placeholder="CEP"
              formErrorHandler
            >
            </ejs-textbox>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <ejs-textbox
              formControlName="state"
              placeholder="Estado"
              formErrorHandler
              class="align-text-box-name"
            >
            </ejs-textbox>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <ejs-textbox formControlName="city" placeholder="Cidade">
            </ejs-textbox>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <ejs-textbox formControlName="district" placeholder="Bairro">
            </ejs-textbox>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <ejs-textbox formControlName="street" placeholder="Endereço">
            </ejs-textbox>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <ejs-dropdownlist
              formControlName="jobId"
              placeholder="Cargo"
              [allowFiltering]="true"
              [fields]="{ value: 'id', text: 'name' }"
              [dataSource]="jobs"
              formErrorHandler
            >
            </ejs-dropdownlist>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <ejs-datepicker
              formControlName="admissionDate"
              placeholder="Data Admissão"
              [max]="today"
              formErrorHandler
            >
            </ejs-datepicker>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <ejs-numerictextbox
              formControlName="workingHours"
              placeholder="Qtd Horas Trabalho"
              format="0"
              formErrorHandler
              [showSpinButton]="false"
            >
            </ejs-numerictextbox>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <ejs-numerictextbox
              formControlName="hourlyWork"
              placeholder="Valor Por Hora"
              format="C2"
              formErrorHandler
              [showSpinButton]="false"
            >
            </ejs-numerictextbox>
          </div>
        </div>
      </div>
    </form>
  </ng-template>

  <ng-template #footerTemplate>
    <button
      ejs-button
      buttonSave
      [disabled]="!this.form.dirty"
      (click)="onSaveClick()"
    ></button>
    <button ejs-button buttonCancel (click)="onModalClose()"></button>
  </ng-template>
</app-modal>
