::ng-deep {
  .align-grid {
    margin-top: calc(100% - 98%);
  }

  .align-button {
    align-items: flex-start;
  }

  .align-button-icon {
    margin-left: 50px;
  }

  .align {
    margin-left: 10px;
  }

  .size-modal {
    height: calc(100vh - 50vh);
  }

  .align-text-box-name {
    margin-left: 10px;
  }

  .align-footer-button {
    padding: 2%;
  }

  .align-drop-down {
    ejs-dropdownlist {
      display: inline-block;
    }

    ejs-multiselect {
      display: inline-block !important;
      width: 43%;
    }
  }
}
