<ejs-tab id="element" (selected)="onSelected($event)">
  <e-tabitems>
    <e-tabitem>
      <ng-template #headerText>
        <div>{{ this.tabSettings.inventoryControl.heading }}</div>
      </ng-template>
      <ng-template #content>
        <div class="align-content">
          <app-inventory-control></app-inventory-control>
        </div>
      </ng-template>
    </e-tabitem>

    <e-tabitem>
      <ng-template #headerText>
        <div>{{ this.tabSettings.buyRequest.heading }}</div>
      </ng-template>
      <ng-template #content>
        <div class="align-content">
          <app-buy-request></app-buy-request>
        </div>
      </ng-template>
    </e-tabitem>

    <e-tabitem>
      <ng-template #headerText>
        <div>{{ this.tabSettings.salesRequest.heading }}</div>
      </ng-template>
      <ng-template #content>
        <div class="align-content">
          <app-sales-request></app-sales-request>
        </div>
      </ng-template>
    </e-tabitem>
  </e-tabitems>
</ejs-tab>
