.home__item {
  position: relative;
  height: 100vh;
  width: 100vw;
  background: url('/assets/pages/home/home_padaria.jpg');
  background-size: cover;
  opacity: 0.5;
  margin-left: -20px;
  margin-top: -35px;
}
