<ejs-tab id="element">
  <e-tabitems>
    <e-tabitem>
      <ng-template #headerText>
        <div> Marca </div>
      </ng-template>
      <ng-template #content>
        <div class="align-content">
          <app-brand></app-brand>
        </div>
      </ng-template>
    </e-tabitem>
    <e-tabitem>
      <ng-template #headerText>
        <div> Unidade de Medida </div>
      </ng-template>
      <ng-template #content>
        <div class="align-content">
          <app-unit-measure></app-unit-measure>
        </div>
      </ng-template>
    </e-tabitem>
    <e-tabitem>
      <ng-template #headerText>
        <div> Produto </div>
      </ng-template>
      <ng-template #content>
        <div class="align-content">
        </div>
      </ng-template>
    </e-tabitem>
    <e-tabitem>
      <ng-template #headerText>
        <div> Classificação </div>
      </ng-template>
      <ng-template #content>
        <div class="align-content">
          <app-classification></app-classification>
        </div>
      </ng-template>
    </e-tabitem>
  </e-tabitems>
</ejs-tab>